<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ĐĂNG NHẬP</title>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css">
    <link rel="stylesheet" href="index.css">
</head>

<body>
    <div class="main">
        <div class="left">
            <h1> Học Viện Công Nghệ Bưu Chính Viễn Thông Cơ Sở TPHCM</h2>
                <img src="./ANH NEN PTIT.jpg" alt="">
                <p> Địa chỉ : Đường Man Thiện, P. Hiệp Phú, Q.9 TP Hồ Chí Minh <br>
                    ĐT: (028) 38297220; Fax: (028) 39105510 <br>
                    Website: https://ptithcm.edu.vn
                </p>
        </div>
        <div class="right">
            <div class="student">
                <div class="studentTop">
                    <img src="./student_icon.jpg" alt="">
                    <P>Sinh Viên</P>

                </div>
                <div class="studentInput ">
                    <label for="inputStudentCode">Tên Đăng Nhập </label>
                    <input type="text" id="inputStudentCode">
                    <label for="inputStudentPass"> Mật Khẩu </label>
                    <input type="password" id="inputStudentPass">
                    <button class="btn">Đăng Nhập</button>
                </div>
            </div>
            <div class="teacher">
                <div class="teacherTop">
                    <img src="./teacher_icon.jpg" alt="">
                    <p>Giảng Viên</p>

                </div>
                <div class="teacherInput ">
                    <label for="inputTeacherCode"> Tên Đăng Nhập</label>
                    <input type="text" id="inputTeacherCode">
                    <label for="inputTeacherPass">Mật Khẩu</label>
                    <input type="password" id="inputTeacherPass">
                    <button class="btn">Đăng Nhập </button>

                </div>
            </div>
            <div class="admin">
                <div class="adminTop">
                    <img src="./admin_icon.jpg" alt="">
                    <p> Quản Trị Viên </p>

                </div>
                <div class="adminInput">
                    <label for="inputAdminCode">Tên Đăng Nhập</label>
                    <input type="text" id="inputAdminCode">
                    <label for="inputAdminPass"> Mật Khẩu</label>
                    <input type="password" id="inputAdminPass">
                    <button class="btn">Đăng Nhập</button>

                </div>
            </div>
        </div>
    </div>

    <script src="index.js"></script>
</body>

</html>